/*
Syntax error: Invalid CSS after "#FEFEFE": expected expression (e.g. 1px, bold), was ";"
        on line 7 of C:\vagrant-ghost\themes\ghostwriter\assets\css\style.css

2: /* ============================================================ */
3: /* Base */
4: /* ============================================================ */
5: 
6: body {
7:     background: #FEFEFE;
8:     color: #424242;
9:     font-family: "Open Sans", arial, sans-serif;
10:     font-size: 18px;
11: }
12: 

Backtrace:
C:\vagrant-ghost\themes\ghostwriter\assets\css\style.css:7
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1148:in `expected'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/script/lexer.rb:199:in `expected!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/script/parser.rb:486:in `assert_done'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/script/parser.rb:50:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/script/parser.rb:166:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/script.rb:31:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:881:in `parse_script'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:608:in `parse_property'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:597:in `parse_property_or_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:578:in `parse_line'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:471:in `build_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:490:in `block in append_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:489:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:489:in `append_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:480:in `block in build_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:473:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:473:in `build_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:490:in `block in append_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:489:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:489:in `append_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:345:in `_to_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/plugin.rb:81:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/exec.rb:432:in `watch_or_update'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/exec.rb:315:in `process_result'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/exec.rb:41:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/lib/sass/exec.rb:21:in `parse!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.9/bin/sass:9:in `<top (required)>'
C:/Ruby193/bin/sass:23:in `load'
C:/Ruby193/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"#FEFEFE\": expected expression (e.g. 1px, bold), was \";\"\A         on line 7 of C:\vagrant-ghost\themes\ghostwriter\assets\css\style.css\A \A 2: /* ============================================================ */\A 3: /* Base */\A 4: /* ============================================================ */\A 5: \A 6: body {\A 7:     background: #FEFEFE;\A 8:     color: #424242;\A 9:     font-family: \"Open Sans\", arial, sans-serif;\A 10:     font-size: 18px;\A 11: }\A 12: "; }
